{% extends 'events/base.html' %}


{% block content %}
    <a href="{% url 'venue-csv' %}" class="btn btn-outline-danger btn-sm"> CSV </a>
    <table class="table table-hover">
        <thead class="table-Dark">
            <tr>
                <th scope="col"><h5>List of Venues</h5></th>

            </tr>
        </thead>
        <tbody>

        {% for venue in venue_list%}
        <tr>
            <td>
                <a href="{% url 'show-venue' venue.id %}">{{venue}}</a> 
            </td>
            <td align="right">
               <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm"> Update </a>
               <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm"> Delete </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
